@page
@model MassPersona_Media_Review.Pages.Reviews.ViewModel
@{
    ViewData["Title"] = "View";
}

<h3>@ViewData["Title"]</h3>
<hr/> 
<div class="row shadow">
    <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Reviews.Title" class="control-label"></label>
                <input asp-for="Reviews.Title" class="form-control" maxlength="25" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Reviews.Category" class="control-label"></label>
                <input value="@Model.Reviews.Category" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Reviews.ReviewText" class="control-label"></label>
                <textarea asp-for="Reviews.ReviewText" class="form-control" rows="5" maxlength="100" readonly></textarea>
            </div>    
            <div class="form-group">
                <label asp-for="Reviews.Rating" class="control-label"></label>
                <input asp-for="Reviews.Rating" class="form-control" type="number" min="1" max="5" readonly/>
            </div>
            <div class="form-group mt-2">
                <a asp-page="Home" class="btn btn-secondary">Back to Reviews</a>
            </div>
    </div>
</div>